<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Reseñas de Series{% endblock %}</title>
    <!-- CSS de Bootstrap para un diseño responsivo -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Tu propio CSS, si lo necesitas -->
    
</head>
<body>
    <!-- Cabecera -->
    <header class="bg-dark text-white py-3">
        <div class="container">
            <h1><a href="{% url 'index' %}" class="text-white text-decoration-none">Reseñas de Series</a></h1>
        </div>
    </header>

    <!-- Barra de Navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lista_series' %}">Series</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lista_reseñas' %}">Reseñas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenido Principal -->
    <main class="container mt-4">
        {% block content %}
        <!-- Aquí se insertará el contenido de cada página -->
        {% endblock %}
    </main>

    <!-- Pie de Página -->
    <footer class="bg-dark text-white py-3 mt-4">
        <div class="container text-center">
            <p>&copy; 2024 Reseñas de Series. Todos los derechos reservados.</p>
        </div>
    </footer>

    <!-- Scripts de JavaScript de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Tu propio JavaScript, si lo necesitas -->
    {% block extra_js %}{% endblock %}
</body>
</html>
